@media only screen and (max-width: 360px) {}

@media only screen and (max-width: 430px) {

    .no-scroll {
        height: 100vh;
        height: 100dvh;
        width: 100dvw;
    }

    /* ---HEADER--- */
    header {
        background-color: inherit;
        display: flex;
        justify-content: center;
        width: 100%;
        top: 0;
        margin: 30px 0;
    }

    nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 25px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        display: none;
    }

    #themeButton {
        display: none;
    }

    .underline {
        position: relative;
    }

    .underline::after {
        content: '';
        position: absolute;
        height: 3px;
        left: -5px;
        bottom: -10px;
        width: 0;
        background-color: #E8E9EB;
        transition: width .2s;
    }

    .underline:hover::after {
        width: 120%;
    }

    nav a {
        user-select: none;
        -webkit-user-drag: none;
    }

    .active {
        border-bottom: #E8E9EB 4px solid;
        padding: 0 10px 8px 10px;
        width: 200%;
    }

    .header-logo {
        max-height: 2.5rem;
    }

    .toggle-theme-logo {
        max-height: 2.5rem;
        display: none;
    }

    .hamburger {
        color: #E8E9EB !important;
        display: block;
        margin: 0 0 5px 0;
        font-size: 25px;
    }

    .close-icon {
        color: #E8E9EB !important;
        display: block;
        margin: 0 0 5px 0;
        font-size: 35px !important;
    }

    h1 span {
        color: #FFD51E;
    }

    .underline:hover::after {
        width: 110%;
    }

    .active {
        color: #E8E9EB;
        border-bottom: #E8E9EB 3px solid;
        padding: 0 10px 5px 10px;
        width: 200%;
    }

    /* ---BODY--- */
    main{
        margin: 0 0 50px 0;
    }

    .introduction-description h1,
    .introduction-description p {
        width: 100%;
        max-width: 100%;
    }

    .limited-width {
        align-items: center;
        width: 100dvw;
        padding: 0 25px;
        background-color: #313638;
    }

    .social-media {
        display: none;
    }


    /* ---ABOUT PAGE--- */
    .half-screen {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .label {
        display: flex;
        justify-content: center;
        min-width: 100%;
        width: 100%;
        text-decoration: none;
        font-optical-sizing: auto;
        padding: 10px 0;
    }

    .background-rectangle {
        border-radius: 15px;
        min-width: 100%;
        width: 100%;
        padding: 10px;
    }

    .timeline-information {
        margin: 0 0 50px 25px;
    }

    .timeline-information h2 {
        font-size: 18px;
    }

    .title-and-year {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .title-and-year h4 {
        font-weight: 500;
        padding: 0 0 0 10px;
    }

    .view-button {
        font-weight: 500;
        margin: 5px 0 0 0;
    }

    .view-button a {
        background-color: transparent;
    }

    .margin-top {
        margin-top: 100px;
    }


    /* ---PROJECTS PAGE--- */
    #title {
        width: 100%;
        text-decoration: none;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size: 35px;
        padding: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #projects-list {
        margin: 10px 0;
    }

    #projects-list ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    #projects-list ul li {
        width: max-content;
    }

    .project-card {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        padding: 10px;
        margin: 10px 0;
    }

    .project-title {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .default-view {
        transition: filter 0.3s ease, opacity 0.3s ease;
    }

    .project-card:hover .default-view {
        filter: blur(4px);
        opacity: 0.6;
    }

    .card-hover {
        position: absolute;
        top: 0;
        left: 0;
        padding: 15px;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    .project-card:hover .card-hover {
        opacity: 1;
        pointer-events: auto;
        z-index: 2;
    }

    .card-hover p {
        margin: 10px 0;
    }

    #projects-list .tools-or-languages-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .tools-or-languages {
        border: #313638 1px solid;
        border-radius: 100px;
        padding: 3px 7px;
        margin: 5px 3px 0 0;
        font-weight: 500;
    }

    .card-description-color-light {
        background-color: transparent !important;
        color: #E8E9EB !important;
    }

    .card-description-color-dark {
        background-color: transparent !important;
        color: #313638 !important;
    }


    /* ---FOOTER--- */
    footer {
        display: flex;
        width: 100%;
        padding: 0;
        position: fixed;
        bottom: 0;
        margin: 0;
        background-color: #313638;
        padding: 15px 0;
        z-index: 100;
    }

    footer p {
        display: none;
    }

    .footer-social-media {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-social-media a {
        margin: 0;
    }
}

@media only screen and (min-width: 431px) and (max-width: 960px) {}