@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #313638;
    color: #E8E9EB;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

ul {
    list-style: none;
}

.no-scroll {
    height: 100dvh;
    width: 100dvw;
}

.light-mode {
    background-color: #E8E9EB;
    color: #313638;
}


/* ---HEADER--- */
header {
    background-color: inherit;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    margin: 50px 0;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    display: flex;
    text-transform: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #E8E9EB;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    user-select: none;
    -webkit-user-drag: none;
}

.underline {
    position: relative;
}

.underline::after {
    content: '';
    position: absolute;
    height: 3px;
    left: -5px;
    bottom: -10px;
    width: 0;
    background-color: #E8E9EB;
    transition: width .2s;
}

.underline:hover::after {
    width: 120%;
}

nav a {
    user-select: none;
    -webkit-user-drag: none;
}

.active {
    color: #E8E9EB !important;
}

.header-logo {
    max-height: 2.5rem;
}

.toggle-theme-logo {
    max-height: 2.5rem;
}

.limited-width {
    align-items: center;
    width: 1200px;
}

.hamburger {
    color: #E8E9EB !important;
    display: none;
}

h1 span {
    color: #FFD51E;
}

.introduction {
    min-height: calc(61dvh);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.introduction h1 {
    font-size: 2.275em;
}


.sparkle {
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    font-weight: bold;
    animation: shimmer 5s infinite;
    background: linear-gradient(90deg, #FFFFFF, #FFD51E, #FFFFFF);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sparkle::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 200%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent 0%,
            rgba(255, 255, 255, 0.3) 50%,
            transparent 100%);
    background-clip: text;
    animation: shimmer 2s infinite;
    z-index: -1;
}

@keyframes shimmer {
    0% {
        background-position: 200% center;
    }

    100% {
        background-position: -200% center;
    }
}

.introduction-description {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.introduction-description h1,
.introduction-description p {
    width: 80%;
    max-width: 80%;
}

.introduction-description p {
    margin: 25px 0 0 0;
    line-height: 25px;
}

.word {
    opacity: 0;
    display: inline-block;
    transform: translateY(10px);
    animation: wordIn 0.4s ease forwards;
}

@keyframes wordIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.to-projects {
    display: flex;
    margin: 25px 0 50px 0;
}

.to-projects p {
    color: #E8E9EB;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.to-projects a {
    text-decoration: none;
}

@keyframes bounceRight {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }
}

.bounce {
    animation: bounceRight 0.6s ease;
}

#arrow {
    margin: 0 0 0 5px;
}


.social-media {
    display: flex;
    flex-direction: row;
}

.social-media a {
    margin: 0 25px 0 0;
}

/* ---ABOUT PAGE--- */
.half-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label {
    display: flex;
    justify-content: center;
    min-width: 50%;
    width: 50%;
    color: #E8E9EB;
    text-decoration: none;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
    padding: 100px 0;
}

.background-rectangle {
    background-color: #4C5153;
    border-radius: 15px;
    min-width: 50%;
    width: 50%;
    padding: 50px;
}

.timeline-circle::before {
    content: '';
    background-color: #4C5153;
    border: 3px solid #E8E9EB;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    z-index: 100;
    left: -16px;
    position: absolute;
}

.timeline {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-left: 2px solid #E8E9EB;
    height: auto;
    width: 100%;
    position: relative;
}

.timeline-information {
    margin: 0 0 0 25px;
}

.timeline-information h1 {
    font-size: 35px;
}

.school {
    margin: -7px 0 0 0;
}

.additional-information {
    padding: 0 0 50px 0;
}

.margin-top {
    margin-top: 100px;
}

/* ---FOOTER--- */
footer {
    background-color: inherit;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
    user-select: none;
    -webkit-user-drag: none;
}