/* COLOR PALLETES */
/* Dark Theme: #252525;
White: #E3E3E3;
Yellow: #F9B234; */

* {
    box-sizing: border-box;
}

html {
    background-color: #252525;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

body {
    background-color: #171717;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body::-webkit-scrollbar {
    display: none;
}
