/* COLOR PALLETES */
/* Dark Theme: #171717;
White: #E3E3E3;
Yellow: #F9B234; */

* {
    box-sizing: border-box;
}

html {
    background-color: #171717;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

body {
    background-color: #171717;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body::-webkit-scrollbar {
    display: none;
}

.test {
    border: 1px #fff dotted;
}

br {
    user-select: none;
}

/* FONTS */
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("assets/fonts/Montserrat-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    /* Source: https://fonts.google.com/specimen/Montserrat/tester */
}


/* BODY */
/* -HEADER/ TOPNAV- */
ul.top-navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li.top-navbar-li {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 35px;
    user-select: none;
}

li.top-navbar-li a {
    padding: 0px 0px 0px 35px;
    text-decoration: none;
    color: #E3E3E3;
}

li.top-navbar-li a:hover {
    color: #FFFFFF;
}

.topnav {
    background-color: #171717;
    padding-top: 3%;
    margin-bottom: 1%;
    position: sticky;
    user-select: none;
}

.topnav-active {
    color: #F9B234 !important;
}

#nav-name {
    display: block;
    color: #F9B234;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 75px;
    text-decoration: none;
    border-bottom: 15px solid #E3E3E3;
    width: 65%;
    opacity: 100%;
    margin: 0px 0px 15px 0px;
    user-select: none;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    height: 5px;
    width: 35px;
    background: #E3E3E3;
    margin: 0px 0px 6px 0px;
    border-radius: 0;
}


/* -FOOTER/ BOTTOM NAV- */
.bottom-nav {
    background-color: #171717;
    margin-top: 5%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    user-select: none;
}

#footer-statement {
    color: #E3E3E3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    /* margin: 20px 0px 0px 0px; */
}

ul.bottom-navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.bottom-navbar-li {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 35px;
    user-select: none;
}

li.bottom-navbar-li a {
    padding: 0px 0px 0px 25px;
    text-decoration: none;
}

.social-media-icon {
    width: auto;
    height: 80px;
    -webkit-user-drag: none;
}


/* HOME AREA */
#area-name {
    display: block;
    color: #F9B234;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 50px;
    text-decoration: none;
    border-bottom: 10px solid #E3E3E3;
    width: 55%;
    opacity: 100%;
    margin: 150px 0px 35px 0px;
    user-select: none;
}

#home-area {
    padding: 50px 0 50px 0;
}

/* PROJECTS AREA */
#projects-area {
    padding: 50px 0 50px 0;
}

/* CONTACT AREA */
#contact-area {
    padding: 50px 0 50px 0;
}

/* ABOUT AREA */
#about-area {
    padding: 50px 0 50px 0;
}


/* ---HOME PAGE--- */
.introduction-white {
    color: #E3E3E3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 80px;
    text-transform: uppercase;
    text-decoration: none;
    user-select: none;
    -webkit-user-drag: none;
}

.introduction-yellow {
    color: #F9B234;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 80px;
    text-transform: uppercase;
    text-decoration: none;
    user-select: none;
    -webkit-user-drag: none;
}

.center-items {
    display: grid;
    place-items: center;
}

.download-button {
    background-color: #171717;
    color: #F9B234;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    width: 75%;
    text-transform: uppercase;
    text-decoration: none;
    border: 5px solid #F9B234;
    padding: 15px 25px;
    user-select: none;
}

.portfolio-developer {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#developer-image {
    max-width: 70%;
    max-height: 70%;
    -webkit-user-drag: none;
}


/* ---PROJECTS PAGE--- */
/* PROJECTS CARD */
.card {
    width: 475px;
    height: 375px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background-color: #E3E3E3;
    margin: 20px 20px 20px 15px;
}

.thumbnail {
    width: auto;
    height: 100%;
    background: url("../assets/photos/trial_1-code.png") no-repeat center;
    background-size: cover;
    border-radius: 5px;
    margin: 25px 5px 0px 5px;
}

.infos {
    width: auto;
    height: 80px;
    position: relative;
    padding: 10px 15px;
    transition: 0.3s 0.15s;
    background-color: #E3E3E3;
    user-select: none;
    -webkit-user-drag: none;
    /* transform: translateY(70px); */
}

.title {
    position: relative;
    margin: 0px 0px 10px 0px;
    color: #171717;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
}

.subtitle {
    color: #171717;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #E3E3E3;
    margin: 0px 0px 20px 0px;
}

.view-more {
    color: #F9B234;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-user-drag: none;
}

.view-more:hover {
    color: #171717;
}

.card:hover .infos {
    transform: translateY(-45px);
}

/* PROJECT ITEMS */
.projects-list {
    display: flex;
    flex-direction: column;
}

ul.projects-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* border: 0.1px solid red; */
}

li.projects-li {
    display: flex;
    float: left;
    padding: 5px 0px 0px 10px;
}

.show-more-state {
    display: none;
}

.show-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease-in;
}

.show-more-state:checked~.show-more-wrapper .show-more-target {
    opacity: 1;
    max-height: 1000px;
    font-size: inherit;
}

.show-more-state~.show-more-button:before {
    content: 'SHOW MORE';
}

.show-more-state:checked~.show-more-button:before {
    content: 'SHOW LESS';
}

.show-more-button {
    display: inline-block;
    background-color: #171717;
    color: #E3E3E3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 10px;
    line-height: 2;
    text-align: center;
    border-top: 5px solid #E3E3E3;
    width: 35%;
    margin: 0px auto 25px auto;
    -webkit-user-drag: none;
}


/* ---CONTACT PAGE--- */
.contact-area {
    margin: 5px 0px 0px 0px;
}

input[type=text] {
    width: 100%;
    background-color: #171717;
    color: #E3E3E3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    border: 5px solid #E3E3E3;
    border-radius: 0;
    box-sizing: border-box;
    padding: 15px 15px;
    margin: 5px 0px 15px 0px;
    user-select: none;
}

input[type=text]:focus {
    background-color: #171717;
    color: #E3E3E3;
    border: 5px solid #E3E3E3;
    border-radius: 0;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    background-color: #171717;
    color: #E3E3E3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    border: 5px solid #E3E3E3;
    border-radius: 0;
    box-sizing: border-box;
    padding: 15px 15px;
    margin: 5px 0px 15px 0px;
    user-select: none;
}

input[type=email]:focus {
    background-color: #171717;
    color: #E3E3E3;
    border: 5px solid #E3E3E3;
    border-radius: 0;
    box-sizing: border-box;
}

.textarea-message {
    width: 100%;
    background-color: #171717;
    color: #E3E3E3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    border: 5px solid #E3E3E3;
    border-radius: 0;
    box-sizing: border-box;
    padding: 15px 15px;
    margin: 5px 0px 0px 0px;
    user-select: none;
}

.textarea-message:focus {
    background-color: #171717;
    color: #E3E3E3;
    border: 5px solid #E3E3E3;
    border-radius: 0;
    box-sizing: border-box;
}

.button-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}

.send-button {
    background-color: #171717;
    color: #F9B234;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    border: 5px solid #F9B234;
    padding: 15px 20px;
    user-select: none;
    -webkit-user-drag: none;
}


/* ---ABOUT PAGE--- */
.about-title {
    display: block;
    color: #E3E3E3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 75px;
    text-decoration: none;
    margin: 0px 0px 15px 0px;
    user-select: none;
    /* border: 0.1px dotted orange; */
}

.title-school {
    display: block;
    color: #E3E3E3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 50px;
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    user-select: none;
}

.title-year {
    display: block;
    color: #E3E3E3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 35px;
    text-decoration: none;
    margin: 0px 0px 5px 0px;
    user-select: none;
    /* border: 0.1px dotted orange; */
}

.title-description-1 {
    display: block;
    color: #E3E3E3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 0px 10px 0px;
    user-select: none;
    /* border: 0.1px dotted orange; */
}

.title-description-2 {
    display: block;
    color: #E3E3E3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 0px 30px 0px;
    user-select: none;
    /* border: 0.1px dotted orange; */
}

.skill-level-outer {
    border: 5px solid #E3E3E3;
    padding: 5px 5px 5px 5px;
    width: 100%;
    margin: 0px 0px 25px 0px;
}

.skill-level-inner-1 {
    border-top: 20px solid #E3E3E3;
    width: 90%;
}

.skill-level-inner-2 {
    border-top: 20px solid #E3E3E3;
    width: 50%;
}

.skill-level-inner-3 {
    border-top: 20px solid #E3E3E3;
    width: 35%;
}

.skill-level-inner-4 {
    border-top: 20px solid #E3E3E3;
    width: 60%;
}

.skill-level-inner-5 {
    border-top: 20px solid #E3E3E3;
    width: 75%;
}

.view-certification-button {
    background-color: #171717;
    color: #E3E3E3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;
    width: 15%;
    text-transform: uppercase;
    text-decoration: none;
    border: 5px solid #E3E3E3;
    padding: 15px 25px;
    margin: 0px 0px 50px 0px;
    user-select: none;
}

#round-vertically {
    padding-top: 15px;
}

#round-vertically span {
    color: #E3E3E3;
    text-align: center;
    font-size: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.circle {
    width: 30px;
    height: 30px;
    border: 5px solid #E3E3E3;
    margin: auto;
    position: relative;
    border-radius: 50%;
    user-select: none;
}

.circle-line-education-1 {
    width: 7px;
    background-color: #E3E3E3;
    height: 290px;
    margin: auto;
}

.circle-line-education-2 {
    width: 7px;
    background-color: #E3E3E3;
    height: 220px;
    margin: auto;
}

.circle-line-education-3 {
    width: 7px;
    background-color: #E3E3E3;
    height: 260px;
    margin: auto;
}

.circle-line-experiences {
    width: 7px;
    background-color: #E3E3E3;
    height: 155px;
    margin: auto;
}

.circle-line-certifications {
    width: 7px;
    background-color: #E3E3E3;
    height: 215px;
    margin: auto;
}


/* RESPONSIVENESS */
@media (max-width: 1400px) {
    .col-s-1 {
        display: none;
    }

    .col-s-5 {
        width: 100%;
        text-align: center;
    }

    /* -HEADER/ TOPNAV- */
    .hamburger-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 45px 0px 0px 275px;
    }

    #menuItems {
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        background-color: #171717;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    #menuItems.show {
        display: flex;
    }

    #menuItems li {
        margin-bottom: 10px;
    }

    #menuItems li a {
        color: #E3E3E3;
        font-size: 25px;
    }

    #menuItems li a:hover {
        color: #FFFFFF;
    }
}