.loading-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top left, #e8e9eb, #ffd51e, #e8e9eb);
  height: 100%;
  width: 100%;
  z-index: 999;
}

#svg {
  height: 250px;
  width: 250px;
  stroke: #313638;
  fill-opacity: 0;
  stroke-width: 10px;
  stroke-dasharray: 4500;
  animation: draw 5s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.logo-name {
  color: #313638;
  font-size: 24px;
  letter-spacing: 10px;
  text-transform: lowercase;
  margin-left: 20px;
  font-weight: 600;
}

.name-container{
    height: 30px;
    overflow: hidden;
}
