.introduction {
  min-height: calc(61dvh);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.introduction h1 {
  font-size: 2.275em;
}

body.light-mode .sparkle {
  position: relative;
  display: inline-block;
  color: #313638 !important;
  font-weight: bold;
  animation: shimmer 5s infinite;
  background: linear-gradient(90deg, #313638, #ffd51e, #313638);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sparkle {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  animation: shimmer 5s infinite;
  background: linear-gradient(90deg, #ffffff, #ffd51e, #ffffff);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sparkle::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent 0%,
    rgba(255, 255, 255, 0.3) 50%,
    transparent 100%
  );
  background-clip: text;
  animation: shimmer 2s infinite;
  z-index: -1;
}

@keyframes shimmer {
  0% {
    background-position: 200% center;
  }

  100% {
    background-position: -200% center;
  }
}

.introduction-description {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.introduction-description h1,
.introduction-description p {
  width: 80%;
  max-width: 80%;
}

.introduction-description p {
  margin: 25px 0 0 0;
  line-height: 25px;
}

.word {
  opacity: 0;
  display: inline-block;
  transform: translateY(10px);
  animation: wordIn 0.4s ease forwards;
}

@keyframes wordIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.to-projects {
  display: flex;
  margin: 25px 0 50px 0;
}

.to-projects p {
  color: #e8e9eb;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.to-projects a {
  text-decoration: none;
}

@keyframes bounceRight {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }
}

.bounce {
  animation: bounceRight 0.6s ease;
}

#arrow {
  margin: 0 0 0 5px;
}

.social-media {
  display: flex;
  flex-direction: row;
}

.social-media a {
  margin: 0 25px 0 0;
}

.icon-path {
  fill: #313638;
}

.dark-mode .icon-path {
  fill: #e8e9eb;
}

/* ---ABOUT PAGE--- */
#about {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  column-gap: 25px;
  row-gap: 25px;
}

.sub-page-title {
  font-size: 30px;
  font-weight: 600;
}

.work-experience {
  grid-area: 1 / 1 / 2 / 4;
}

.certifications {
  grid-area: 1 / 4 / 2 / 9;
}

.half-screen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-border {
  border: var(--rectangle-border);
  border-radius: 10px;
  max-height: 50vh;
  /* max-width: 50%; */
  padding: 20px 25px;
  overflow: hidden;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 50%;
  text-decoration: none;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 25px;
  margin: 0 0 20px;
}

.see-more {
  font-size: 12px;
}

.background-rectangle {
  border-radius: 15px;
  min-width: 50%;
  margin: 0 0 0 5px;
}

.timeline-circle {
  background-color: transparent;
}

.timeline-circle::before {
  content: "";
  background-color: var(--timeline-circle-background);
  border: var(--timeline-circle-border);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  z-index: 10;
  left: -16px;
  position: absolute;
}

.timeline {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-left: var(--timeline-border-left);
  height: auto;
  width: 100%;
  position: relative;
}

.timeline-information {
  margin: 0 0 50px 25px;
}

.timeline-information h2 {
  font-size: 18px;
}

.title-and-year {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 5px 0;
}

.role {
  font-weight: 400;
  padding: 0 0 5px 0;
  font-size: 16px !important;
}

.timeline-information p {
  font-weight: 400;
  padding: 0 0 5px 0;
  font-size: 14px;
}

.view-button {
  font-weight: 500;
  margin: 5px 0 0 0;
}

.view-button a {
  background-color: transparent !important;
}

.margin-top {
  margin-top: 100px;
}

.horizontal-divider {
  border: var(--timeline-border-left);
  width: 100vw;
  max-width: 1200px;
  margin: 25px 0;
}

/* ---TECH STACK PAGE--- */
#tech {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  column-gap: 25px;
  row-gap: 25px;
  margin: 25px 0 0 0;
}

.techstack-rectangle {
  border-radius: 8px;
  border: var(--rectangle-border);
  background-color: var(--timeline-circle-background);
  padding: 5px 10px;
  margin: 5px 5px 10px 0;
}

.category {
  font-weight: 600;
}

.tech-cards {
  display: flex;
  flex-direction: row;
}

.stack {
  grid-area: 1 / 5 / 2 / 9;
}

.recent-projects {
  grid-area: 1 / 1 / 2 / 5;
}

/* ---PROJECTS PAGE--- */
#title {
  width: 100%;
  text-decoration: none;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 35px;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collaboration {
  margin: 0;
}

#projects-list {
  margin: 50px 0;
}

#projects-list ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

#projects-list ul li {
  width: max-content;
}

.project-card {
  position: relative;
  display: block;
  border-radius: 10px;
  min-width: 30%;
  width: 30%;
  max-width: 30%;
  padding: 10px;
  margin: 20px;
  background-color: #e8e9eb;
  overflow: hidden;
  cursor: pointer;
  box-shadow: -1px 0px 50px 6px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: -1px 0px 50px 6px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: -1px 0px 50px 6px rgba(255, 255, 255, 0.1);
  /* box-shadow: -1px 0px 50px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -1px 0px 50px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -1px 0px 50px 6px rgba(0, 0, 0, 0.5); */
}

.card-light {
  background-color: #e8e9eb;
}

.card-dark {
  background-color: #313638;
}

.project-preview-image {
  border-radius: 5px;
  width: 100%;
  min-width: 100%;
}

.project-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.default-view {
  transition: filter 0.3s ease, opacity 0.3s ease;
}

.project-card:hover .default-view {
  filter: blur(4px);
  opacity: 0.6;
}

.card-hover {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.project-card:hover .card-hover {
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}

.card-hover p {
  margin: 10px 0;
}

#projects-list .tools-or-languages-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tools-or-languages {
  border: #313638 1px solid;
  border-radius: 100px;
  padding: 3px 7px;
  margin: 5px 3px 0 0;
  font-weight: 500;
}

.card-description-color-light {
  background-color: transparent !important;
  color: #e8e9eb !important;
}

.card-description-color-dark {
  background-color: transparent !important;
  color: #313638 !important;
}

/* ---CONTACT PAGE--- */
#contact-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-area p span {
  font-weight: 700;
}

.email-paragraph {
  margin: 0 0 100px 0;
}

.socials-container {
  border: var(--timeline-border-left);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  width: calc(12vw);
  margin: 0 10px;
}

.socials-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 35px 0 75px 0;
}

.socials-container p {
  margin: 10px 0 0 0;
}

.go-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 35px;
  text-decoration: none;
  width: 145px;
  max-width: 145px;
}

.go-back p {
  margin: 0 0 0 5px;
}

@media only screen and (max-width: 430px) {
  main {
    margin: 0 0 50px 0;
  }

  .introduction-description h1,
  .introduction-description p {
    width: 100%;
    max-width: 100%;
  }

  .limited-width {
    align-items: center;
    width: 100%;
    padding: 0 25px;
  }

  .social-media {
    display: none;
  }

  .modal-content {
    max-width: 400px;
  }


  /* ---ABOUT PAGE--- */
  #about {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 25px;
    padding: 0 25px;
  }

  .work-experience {
    grid-area: 1 / 1 / 1 / 1;
  }

  .certifications {
    grid-area: 2 / 1 / 2 / 1;
  }

  .half-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section-border {
    border: var(--rectangle-border);
    border-radius: 10px;
    max-height: 50vh;
    /* max-width: 50%; */
    padding: 10px 0;
    overflow: hidden;
  }

  .label {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    width: 100%;
    text-decoration: none;
    font-optical-sizing: auto;
    padding: 10px 20px;
  }

  .background-rectangle {
    border-radius: 15px;
    min-width: 100%;
    width: 100%;
    padding: 10px;
  }

  .timeline-information {
    margin: 0 0 50px 25px;
  }

  .timeline-information h2 {
    font-size: 18px;
  }

  .title-and-year {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .title-and-year h4 {
    font-weight: 500;
    padding: 0 0 0 10px;
  }

  .view-button {
    font-weight: 500;
    margin: 5px 0 0 0;
  }

  .view-button a {
    background-color: transparent;
  }

  .margin-top {
    margin-top: 100px;
  }

  /* ---TECH STACK PAGE--- */
  #tech {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 25px;
    padding: 0 25px;
  }

  .techstack-rectangle {
    border-radius: 8px;
    border: var(--rectangle-border);
    background-color: var(--timeline-circle-background);
    padding: 5px 10px;
    margin: 5px 5px 10px 0;
  }

  .stack {
    grid-area: 2 / 1 / 2 / 1;
  }

  .recent-projects {
    grid-area: 1 / 1 / 1 / 1;
  }

  /* ---PROJECTS PAGE--- */
  #title {
    width: 100%;
    text-decoration: none;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .collaboration {
    margin: 50px 0 0 0;
  }

  #projects-list {
    margin: 10px 0;
  }

  #projects-list ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  #projects-list ul li {
    width: max-content;
  }

  .project-card {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin: 10px 0;
  }

  .project-title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .default-view {
    transition: filter 0.3s ease, opacity 0.3s ease;
  }

  .project-card:hover .default-view {
    filter: blur(4px);
    opacity: 0.6;
  }

  .card-hover {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .project-card:hover .card-hover {
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
  }

  .card-hover p {
    margin: 10px 0;
  }

  #projects-list .tools-or-languages-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .tools-or-languages {
    border: #313638 1px solid;
    border-radius: 100px;
    padding: 3px 7px;
    margin: 5px 3px 0 0;
    font-weight: 500;
  }

  /* ---CONTACT PAGE--- */
  .email-paragraph {
    margin: 0;
  }

  .mobile-copyright{
    margin: 50px 0 25px 0;
  }

  .socials-container {
    border: var(--timeline-border-left);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    width: calc(100vw - 100px);
    margin: 10px 0;
  }

  .socials-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 15px 0;
  }

  .socials-container p {
    margin: 10px 0 0 0;
  }
}

@media only screen and (min-width: 431px) and (max-width: 1100px) {
  main {
    margin: 0 0 50px 0;
  }

  .introduction-description h1,
  .introduction-description p {
    width: 100%;
    max-width: 100%;
  }

  .limited-width {
    align-items: center;
    width: 100dvw;
    padding: 0 25px;
  }

  .social-media {
    display: none;
  }

  .modal-content {
    max-width: 100%;
  }

  /* ---ABOUT PAGE--- */
  .half-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .label {
    display: flex;
    justify-content: center;
    min-width: 100%;
    width: 100%;
    text-decoration: none;
    font-optical-sizing: auto;
    padding: 10px 0;
  }

  .background-rectangle {
    border-radius: 15px;
    min-width: 100%;
    width: 100%;
    padding: 10px;
  }

  .timeline-information {
    margin: 0 0 50px 25px;
  }

  .timeline-information h2 {
    font-size: 18px;
  }

  .title-and-year {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .title-and-year h4 {
    font-weight: 500;
    padding: 0 0 0 10px;
  }

  .view-button {
    font-weight: 500;
    margin: 5px 0 0 0;
  }

  .view-button a {
    background-color: transparent;
  }

  .margin-top {
    margin-top: 100px;
  }

  .horizontal-divider {
    border: var(--timeline-border-left);
    width: calc(100vw - 50px);
    max-width: 100vw;
    margin: 25px 0;
  }

  /* ---PROJECTS PAGE--- */
  #title {
    width: 100%;
    text-decoration: none;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .collaboration {
    margin: 75px 0 0 0;
  }

  #projects-list {
    margin: 10px 0;
  }

  #projects-list ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  #projects-list ul li {
    width: max-content;
  }

  .project-card {
    min-width: 45%;
    width: 45%;
    max-width: 45%;
    padding: 10px;
    margin: 15px 10px;
  }

  .project-title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .default-view {
    transition: filter 0.3s ease, opacity 0.3s ease;
  }

  .project-card:hover .default-view {
    filter: blur(4px);
    opacity: 0.6;
  }

  .card-hover {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .project-card:hover .card-hover {
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
  }

  .card-hover p {
    margin: 10px 0;
  }

  #projects-list .tools-or-languages-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .tools-or-languages {
    border: #313638 1px solid;
    border-radius: 100px;
    padding: 3px 7px;
    margin: 5px 3px 0 0;
    font-weight: 500;
  }

  /* ---ABOUT PAGE--- */
  .collaboration {
    margin: 75px 0 0 0;
  }

  /* ---CONTACT PAGE--- */
  #contact-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .email-paragraph {
    margin: 0 0 100px 0;
  }

  .socials-container {
    border: var(--timeline-border-left);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    width: calc(23vw);
    margin: 0 10px;
  }

  .socials-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 25px 0 75px 0;
  }

  .socials-container p {
    margin: 10px 0 0 0;
  }
}

@media only screen and (min-width: 1101px) and (max-width: 1280px) {
  /* ---PROJECTS PAGE--- */
  #title {
    padding: 15px 0 0 0;
  }

  .collaboration {
    margin: 50px 0 0 0;
  }

  .project-card {
    position: relative;
    display: block;
    border-radius: 10px;
    min-width: 30%;
    width: 30%;
    max-width: 30%;
    padding: 10px;
    margin: 15px;
  }

  /* ---CONTACT PAGE--- */
  #contact-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .email-paragraph {
    margin: 0 0 100px 0;
  }

  .socials-container {
    border: var(--timeline-border-left);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    width: calc(20vw);
    margin: 0 10px;
  }

  .socials-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 25px 0 75px 0;
  }

  .socials-container p {
    margin: 10px 0 0 0;
  }
}
