footer {
    background-color: inherit;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
    user-select: none;
    -webkit-user-drag: none;
}

.footer-social-media {
    display: none;
}