footer {
  background-color: inherit;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 0;
  user-select: none;
  -webkit-user-drag: none;
}

.footer-social-media {
  display: none;
}

@media only screen and (max-width: 430px) {
  footer {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0 0 -1px;
    background-color: var(--timeline-circle-background);
    padding: 15px 0;
    z-index: 100;
  }

  .footer-social-media {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer-social-media a {
    margin: 0;
  }

  .copyright {
    display: none;
  }
}

@media only screen and (min-width: 431px) and (max-width: 1100px) {
  footer {
    display: flex;
    width: 100%;
    padding: 0;
    position: fixed;
    bottom: 0;
    margin: 0;
    background-color: var(--timeline-circle-background);
    padding: 15px 0;
    z-index: 100;
  }

  footer p {
    display: none;
  }

  .footer-social-media {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer-social-media a {
    margin: 0;
  }
}

@media only screen and (min-width: 1101px) and (max-width: 1280px) {
}
