header {
  background-color: inherit;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  margin: 50px 0;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 19vw;
}

nav ul {
  display: flex;
  text-transform: none;
}

nav ul li {
  margin: 0 15px;
}

.nav-link {
  color: #e8e9eb;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  user-select: none;
  -webkit-user-drag: none;
}

nav a {
  user-select: none;
  -webkit-user-drag: none;
}

.active {
  color: #e8e9eb;
  border-bottom: #e8e9eb 4px solid;
  padding: 0 10px 8px 10px;
  width: 200%;
}

body.light-mode .active {
  color: #313638;
  border-bottom: #313638 4px solid;
}

.header-logo {
  max-height: 2.5rem;
}

.toggle-theme-logo {
  cursor: pointer;
  max-height: 2.5rem;
}

.hamburger {
  color: #e8e9eb !important;
  display: none;
}

h1 span {
  color: #ffd51e;
}

/* ---MODAL--- */
body.modal-open {
  overflow: hidden;
}

.close-icon {
  color: #e8e9eb !important;
  display: block;
  margin: 0 0 5px 0;
  font-size: 35px !important;
}

#mobile-nav-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

body.modal-open #content,
body.modal-open header {
  filter: blur(5px);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  height: 100%;
}

.modal-content ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 0;
}

.modal-content li {
  margin: 1rem 0;
}

.modal-content a {
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent !important;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 430px) {
  header {
    background-color: inherit;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    margin: 30px 0;
  }

  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    margin: 0;
  }

  nav ul li a {
    display: none;
  }

  #themeButton {
    display: none;
  }

  .underline {
    position: relative;
  }

  .underline::after {
    content: "";
    position: absolute;
    height: 3px;
    left: -5px;
    bottom: -10px;
    width: 0;
    background-color: #e8e9eb;
    transition: width 0.2s;
  }

  .underline:hover::after {
    width: 120%;
  }

  nav a {
    user-select: none;
    -webkit-user-drag: none;
  }

  .active {
    border-bottom: #e8e9eb 4px solid;
    padding: 0 10px 8px 10px;
    width: 200%;
  }

  .header-logo {
    max-height: 2.5rem;
  }

  .toggle-theme-logo {
    max-height: 2.5rem;
    display: none;
  }

  .toggle-theme-logo-modal {
    max-height: 2.5em;
    height: 2.5em;
    width: auto;
  }

  .modal-content ul li a {
    color: #e8e9eb !important;
  }

  .hamburger {
    color: #e8e9eb;
    display: block;
    margin: 0 0 5px 0;
    font-size: 25px;
  }

  .close-icon {
    color: #e8e9eb !important;
    display: block;
    margin: 0 0 5px 0;
    font-size: 35px !important;
  }

  h1 span {
    color: #ffd51e;
  }

  .underline:hover::after {
    width: 110%;
  }

  .light-mode .active {
    color: #e8e9eb;
    border-bottom: #e8e9eb 3px solid !important;
    padding: 0 10px 5px 10px;
    width: 200%;
  }

  .active {
    color: #e8e9eb;
    border-bottom: #e8e9eb 3px solid;
    padding: 0 10px 5px 10px;
    width: 200%;
  }
}

@media only screen and (min-width: 431px) and (max-width: 1100px) {
  header {
    background-color: inherit;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    margin: 30px 0;
  }

  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    margin: 0;
  }

  nav ul li a {
    display: none;
  }

  #themeButton {
    display: none;
  }

  .underline {
    position: relative;
  }

  .underline::after {
    content: "";
    position: absolute;
    height: 3px;
    left: -5px;
    bottom: -10px;
    width: 0;
    background-color: #e8e9eb;
    transition: width 0.2s;
  }

  .underline:hover::after {
    width: 120%;
  }

  nav a {
    user-select: none;
    -webkit-user-drag: none;
  }

  .active {
    border-bottom: #e8e9eb 4px solid;
    padding: 0 10px 8px 10px;
    width: 200%;
  }

  .header-logo {
    max-height: 2.5rem;
  }

  .toggle-theme-logo {
    max-height: 2.5rem;
    display: none;
  }

  .toggle-theme-logo-modal {
    max-height: 2.5em;
    height: 2.5em;
    width: auto;
  }

  .modal-content ul li a {
    color: #e8e9eb !important;
  }

  .hamburger {
    color: #e8e9eb;
    display: block;
    margin: 0 0 5px 0;
    font-size: 25px;
  }

  .close-icon {
    color: #e8e9eb !important;
    display: block;
    margin: 0 0 5px 0;
    font-size: 35px !important;
  }

  h1 span {
    color: #ffd51e;
  }

  .underline:hover::after {
    width: 110%;
  }

  .active {
    color: #e8e9eb;
    border-bottom: #e8e9eb 3px solid;
    padding: 0 10px 5px 10px;
    width: 200%;
  }
}

@media only screen and (min-width: 1101px) and (max-width: 1280px) {
  main section {
    width: 100%;
  }

  section {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
