@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #313638;
    color: #E8E9EB;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    transition: none;
}

body.theme-transition {
    transition: background-color 0.3s ease, color 0.3s ease;
}

body::-webkit-scrollbar {
    display: none;
}

::selection {
    color: #FFD51E;
}

:root {
    --timeline-border-left: 2px solid #313638;
    --timeline-circle-background: #E8E9EB;
    --timeline-circle-border: 3px solid #313638;
}

body.light-mode {
    --timeline-border-left: 2px solid #313638;
    --timeline-circle-background: #E8E9EB;
    --timeline-circle-border: 3px solid #313638;
}

body.dark-mode {
    --timeline-border-left: 2px solid #E8E9EB;
    --timeline-circle-background: #313638;
    --timeline-circle-border: 3px solid #E8E9EB;
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

ul {
    list-style: none;
}

.no-scroll {
    height: 100vh;
    height: 100dvh;
    max-height: 100%;
    width: 100dvw;
    max-width: 100%;
}

.light-mode {
    background-color: #E8E9EB !important;
    color: #313638 !important;
}

.dark-mode {
    background-color: #313638 !important;
    color: #E8E9EB !important;
}

.light-text {
    color: #E8E9EB !important;
}

.dark-text {
    color: #313638 !important;
}
